language: python
sudo: required
python:
  - '3.6'
cache: pip
services:
    - postgresql
addons:
    postgresql: '10'
    apt:
      packages:
      - postgresql-10
      - postgresql-client-10
env:
  global:
  - PGPORT=5432
before_script:
  - psql -c 'CREATE DATABASE bit_schema_test;' -U postgres
  - psql -c 'CREATE SCHEMA bitschema;' -U postgres -d bit_schema_test
  - psql -c 'CREATE SCHEMA test_schema;' -U postgres -d bit_schema_test
  - psql -c 'create SCHEMA test_schema_2;' -U postgres -d bit_schema_test
  - psql -c '\dn;' -U postgres -d bit_schema_test
  - psql -c 'show search_path;' -U postgres -d bit_schema_test
  - psql -c "ALTER DATABASE bit_schema_test SET search_path TO bitschema,public;" -U postgres -d bit_schema_test
  - psql -c 'show search_path;' -U postgres -d bit_schema_test
install:
  - pip3 install -r requirements.txt
script:
  - python -m unittest discover tests -v
  - pytest --cov tests
  - bash <(curl -s https://codecov.io/bash)
  